<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      /* Custom CSS styles */
      body {
        background-color: #f8f9fa;
        padding: 50px;
        text-align: center;
      }
      .error-container {
        max-width: 400px;
        margin: auto;
      }
    </style>
  </head>

  <body>
    <div class="error-container">
      <h1 class="display-4">An Error Occurred</h1>
      <p class="lead">{{ error_message }}</p>
      <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
